<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mappers.cjhuser-mapper">
<!-- 	내정보 불러오기 -->
	<select id="selectUser" resultType="CjhUserVo">
		select * from tbl_user
		where u_id = #{u_id}
	</select>
	
<!-- 	로그인 -->
	<select id="selectMemberByIdAndPw" resultType="CjhUserVo">
		select * from tbl_user where u_id = #{u_id} and u_pw = #{u_pw}
	</select>
	
<!-- 	내정보 수정 -->
	<update id="updateUser">
		update tbl_user set
		    u_pw = #{u_pw},
		    u_name = #{u_name},
		    u_email = #{u_email},
		    u_address = #{u_address}
		where u_id = #{u_id}
	</update>
	
<!-- 	회원 탈퇴 -->
	<delete id="quitUser">
		delete from tbl_user
		where u_id = #{u_id}
	</delete>
	
<!-- 	비밀번호 확인 -->
	<select id="checkPw" resultType="int">
		select count(*) from tbl_user
		where u_id = #{u_id}
		and u_pw = #{u_pw}
	</select>
	
</mapper>
