<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mappers.kysboard-mapper">
	<!--사이즈 등록-->
	<insert id="insertProductCount">
		insert into tbl_product_count(p_size,p_count,p_num)
		values(#{p_size},#{p_count},#{p_num})
	</insert>
	<select id="selectProductCount" resultType="Kys_productCountVo">
		select * from tbl_product_count
		where p_num = #{p_num}
	</select>
	<!-- nextval 값 얻기 -->
	<select id="getNextVal" resultType="int">
		select seq_p_num.nextval from dual
	</select>
	<!-- 첨부 파일 -->
	<insert id="imgFile">
		insert into tbl_attach(file_name,p_num)
		values (#{file_name},#{p_num})
	</insert>
	<!-- 타이틀 이미지 -->
	<insert id="titleImgFile">
		insert into tbl_title_attach(title_name,p_num)
		values (#{title_name},#{p_num})
	</insert>
	<update id="updateImgFile">
		update tbl_attach set
		file_name = #{file_name}
		where p_num = #{p_num}
	</update>
	<update id="updateTitleImg">
		update tbl_title_attach set
		title_name = #{title_name}
		where p_num = #{p_num}
	</update>
	<!-- 수정 이미지 삭제 -->
	<delete id="fileImgDelete">
		delete from tbl_attach
		where file_name = #{filename}
	</delete>
		
	<!-- 이미지 불러오기 -->
	<select id="imgSelectBy" resultType="Kys_ImgVo">
		select * from tbl_attach a , tbl_title_attach b
		where a.p_num= #{p_num} and b.p_num= #{p_num}
	</select>
	
	<!-- 리스트 -->
	<select id="boardList" resultType="Kys_BoardVo">
	select * from tbl_product_board
	order by p_num 
	</select>
	
	<!-- 상품 보기 -->
	<select id="boardSelectBy" resultType="Kys_BoardVo">
		select * from tbl_product_board
		where p_num = #{p_num}
	
	</select>
	<!-- 상품 등록 -->
	<insert id="boardInsert">
	insert into tbl_product_board(p_num, p_name,
								 p_content, p_price, 
								 p_main, p_serve)
						values(#{p_num}, #{p_name}, 
								#{p_content}, #{p_price}, 
								#{p_main},	#{p_serve})
	</insert>
	<!-- 상품 수정 -->
	<update id="boardUpdate">
	update tbl_product_board set 
		p_name = #{p_name},
		p_content = #{p_content},
		p_price = #{p_price}
	where p_num = #{p_num}
	</update>
	<!-- 상품 삭제 컬럼추가-->
	<update id="boardDelete">
		   update tbl_product_board set
	 	  	 p_deleted  = 'D'
	 	   where p_num = #{p_num}
	</update>
	<!-- 상품 게시물 복구 -->
	<update id="boardRestoration">
		  update tbl_product_board set
 	 		  p_deleted  = ''
 	 	  where p_num = #{p_num}
	</update>
	<!-- 게시물 완전 삭제 -->
	<delete id="delete">
		delete tbl_product_board
		where p_num = #{p_num}
	</delete>
	<!-- 상품 조건 검색 -->
	<select id="selectByTow" resultType="Kys_BoardVo">
		select * from tbl_product_board 
		where p_main = #{p_main} and p_serve = #{p_serve}  
	</select>
	
	<!-- 게시글 페이징 -->
	<select id="boardListPage" resultType="Kys_BoardVo">
	select * from (
			select rownum rnum, a.* from(
    			select * from tbl_product_board
    				where p_deleted != 'D' or p_deleted is null
    				<include refid="serch"></include>
   					 order by p_num desc)
   					  a)
    where rnum between #{startRow} and #{endRow}
	</select>
	<!-- 삭제처리된 게시물 -->
	<select id="deleteList" resultType="Kys_BoardVo">
	select * from (
			select rownum rnum, a.* from(
    			select * from tbl_product_board
    				where p_deleted = 'D'
    				<include refid="serch"></include>
   					 order by p_num desc)
   					  a)
    where rnum between #{startRow} and #{endRow}
	</select>
	
	<!-- 게시된 게시글 수 -->
	<select id="getCount" resultType="int">
	select count(*) from tbl_product_board
	where p_deleted != 'D' or p_deleted is null
	<include refid="serch"></include>
	</select>
	<select id="getDeleteCount" resultType="int">
	select count(*) from tbl_product_board
	where p_deleted = 'D'
	<include refid="serch"></include>
	</select>
	
	<!-- select bar 검색 -->
	<sql id="serch">
		<if test="p_main != null and p_main !='' ">
					and p_main like #{p_main}
					and p_serve like #{p_serve}
		</if>
		
	</sql>
	<!-- 구매요청 목록 -->
	<select id="salesAll" resultType="CjhCartVo">
	select * from (
			select rownum rnum, a.* from(
										select * from tbl_cart
										 where p_status = 1002
											or p_status = 1003 
											or p_status = 1004 
											or p_status = 1005
											order by p_num desc)
   				  a)
    where rnum between #{startRow} and #{endRow}
	</select>
	<select id="getSalesCount" resultType="int">
		select count(*) from tbl_cart
		where p_status = 1002
				or p_status = 1003 	
				or p_status = 1004 
				or p_status = 1005
	</select>
	<!-- 엑셀로 추출 -->
	<select id="exportToExcel" resultType="Kys_salesVo">
		select c.c_num,c.u_id,c.p_num,c.p_name,c.p_price,c.p_content,c.p_count,c.title_name,c.p_status,c.p_date,c.p_size,
				c.p_main,c.p_serve,u.u_id,u.u_name,u.u_phone,u.u_address
			from tbl_cart c,tbl_user u	
			where  u.u_id =   c.u_id  and p_status = 1002
	</select>
	<sql id="salesSerch">
		<if test="p_status != nul and p_status !='' ">
					where p_status = #{p_status}
		</if>
	</sql>
</mapper>
